{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading text-uppercase" style="color: black;">Instituto "Creciendo Juntos"</div>
                <div class="masthead-subheading" style="color: black;">"Acompañando a las Infancias"</div>
                <a class="btn btn-primary btn-xl text-uppercase" style="color: black;" href="{% url 'acerca_de' %}">Acerca de</a>
            </div>
        </header>
{% endblock titulo %}

{% block contenido %}

{% endblock contenido %}

