{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}

{% endblock titulo %}

{% block contenido %}
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Acerca de Nosotros</h2>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Dirección</h4>
                <p class="text-muted">Sargento Mariano Escalada 445 - B° Jardin - San Martin, Mendoza</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Teléfono</h4>
                <p class="text-muted">4423615</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-clock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Horarios de Atención</h4>
                <p class="text-muted">De Lunes a Sabados de 9:00hs a 20:00hs</p>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}

